ul li a{
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

body {
	padding: 0px 5%;
	background-image: url(/img/backbeanie.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.col-75 input[type='text'], .col-75 input[type='email'] {
	width: 300px;
	border-radius: 4px;
	resize: vertical;
}

header {
	margin-bottom: 30px;
}

.row {
	padding-bottom: 15px;
}

.col-25 {
	float: left;
	width: 25%;
  }

.col-75 {
	float: left;
	width: 75%;
}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#specials {
	width: 10em;
	float: right;
	padding: .5em 1em;
	border: medium gray groove;
	border-radius: 10px;
	margin-left: 1em;
	font-weight: bolder;
}

#content {
	border: outset thick gray;
	border-radius: 10px;
	background-color: rgba(255,255,255,.9);
	padding: 0 5%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25em;
	display: block;     
    max-width: 675px;
    margin: auto;
}

.orderlink {
	margin-top: 30px;
	text-align: center;
}

.error {
	color: red;
}

a:link {
	color: black;
}

a:visited {
	color: black;
	text;
}

h1, h2, h3 {
	color: #011892;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

label {
	display: inline-block;
	padding: 0 10px 0 14px;
}

#copy {
	margin-left: -15px;
}

th[colspan] {
	text-align: right;
}

table {
	border: thin solid gray;;
	background-color: lightsteelblue;
	border-collapse: collapse;
	margin: 0 auto;
}

td, th {
	padding: .5em;
	border: thin darkslateblue dotted;
}

td[id] {
	text-align: right;
}

input[type='submit'] {
	background-color: lightblue;
	font-size: .8em;
	border-radius: 5px;
	border: thin outset gray;
}

input[type='submit']:hover {
	background-color: #81a1c1;
}

fieldset legend {
	margin-bottom: -4px;
}

#month, legend {
	text-decoration: underline;
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	color: #011892;
}

#place {
	text-align: center;
	margin-top: 20px;
}

.Fall {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .50), rgba(255,255,255, .50)), url(/img/fall.gif);
	background-size: 100% 100%;
	background-color: palegoldenrod;
	text-align: center;
}

.Winter {
	background-image: url(/img/winter.gif);
	background-size: 100% 100%;
	background-color: lightblue;
	text-align: center;
}

.Summer {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .50), rgba(255,255,255, .50)), url(/img/summer.gif);
	background-size: 100% 100%;
	background-color: lightyellow;
	text-align: center;
}

.Spring {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .75), rgba(255,255,255, .75)), url(/img/spring.gif);
	background-size: 100% 100%;
	background-color: palegreen;
	text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75 {
	  width: 100%;
	  margin-top: 0;
	}
	.col-75 {
		padding-left: 15px;
	}
	.col-50 {
		margin-left: 50px;
	}
}

/* When the browser window is ?px wide or less, change the elements. */
@media only screen and (max-width: 491px) {
	#content {
		min-width: 320px;
	}
}



/* exercise6 css */

.topBottom{
    background-color: rgba(255,255,255,.45);
    text-align: center;
    border-radius: 5px;
}

#project3 {
    border-right: none;
}

#pltTitle {
	color: #07a;
}

.specifics {
	color: #011892;
	font-style: italic;
}

.col-50 {
	width: 50%;
	padding: 10px;
	float: left;
}

footer {
	clear: both;
}

.imgdiv {
	position: relative;
  float:left;
}

.pic {
	border-bottom: thin dashed #011892;
}

#spaceHold {
    display: none;
    position: absolute;
}
/* exercise6 css */
