ul li a{
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

body {
	padding: 0px 20%;
	background-image: url(/img/backbeanie.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media (max-width: 750px) {
	body {
		padding: 0px 5%;
	}
}

.topBottom{
    background-color: rgba(255,255,255,.45);
    text-align: center;
    border-radius: 5px;
}

#project3 {
    border-right: none;
}

#specials {
	width: 10em;
	float: right;
	padding: .5em 1em;
	border: medium gray groove;
	border-radius: 10px;
	margin-left: 1em;
	font-weight: bolder;
}

#content {
	border: outset thick gray;
	border-radius: 10px;
	background-color: rgba(255,255,255,.9);
	padding: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25em;
}

.form-width {
	min-width: 645px;
}

.orderlink {
	margin-top: 30px;
	text-align: center;
}

.error {
	color: red;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

legend {
	font-family: 'Courier New', Courier, monospace;
	color: #011892;
}

h1, h2, h3 {
	color: #011892;
	text-align: center;
	line-height: .7em;
	font-family: 'Courier New', Courier, monospace;
}

label {
	display: inline-block;
	width: 20em;
	text-align: right;
	line-height: 1.5em;
	padding-right: 1em;
}

th[colspan] {
	text-align: right;
}

table {
	border: thin solid gray;;
	background-color: lightsteelblue;
	border-collapse: collapse;
	margin: 0 auto;
}

td, th {
	padding: .25em 1em;
	border: thin green dotted;
}

td[id] {
	text-align: right;
}

input[type='submit'] {
	background-color: lightblue;
	font-size: .8em;
	border-radius: 5px;
	border: thin outset gray;
}

#place {
	text-align: center;
}

#main {
	clear: left;
}

.Fall {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .50), rgba(255,255,255, .50)), url(/img/fall.gif);
	background-size: 100% 100%;
	background-color: palegoldenrod;
	text-align: center;
}

.Winter {
	background-image: url(/img/winter.gif);
	background-size: 100% 100%;
	background-color: lightblue;
	text-align: center;
}

.Summer {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .50), rgba(255,255,255, .50)), url(/img/summer.gif);
	background-size: 100% 100%;
	background-color: lightyellow;
	text-align: center;
}

.Spring {
	background-image: linear-gradient(
	0deg, rgba(255,255,255, .75), rgba(255,255,255, .75)), url(/img/spring.gif);
	background-size: 100% 100%;
	background-color: palegreen;
	text-align: center;
}


/* exercise5-orderform css */
nav {
	text-align: center;
}

#pltTitle {
	color: #07a;
}

.botanic {
	color: darkgreen;
	font-style: italic;
}
.col {
	width: 20em;
	padding: 1em;
	float: left;
}

footer {
	clear: both;
}

.imgdiv {
	position: absolute;
}

.pic {
	border-bottom: thin dashed darkgreen;
}
/* exercise5-orderform css */
